
[version]
current = "0.1.0"

regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  '''

[git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[file]]
src = "Cargo.toml"

[[before_push]]
name = "run tests"
cmd = "cargo test"

[[after_push]]
name = "publish"
cmd = "cargo publish"
